<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DataPack</string>
	<key>CFBundleExecutable</key>
	<string>DataPack</string>
	<key>CFBundleIconFile</key>
	<string>generated-9472d0407298f3d5818cfff2064dfc01471fd00cdf3bc636cecadf8c49427ec5.icns</string>
	<key>CFBundleIdentifier</key>
	<string>DataPack</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DataPack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
